{
  "plugins": [
    "dynamic-import-node",
    "transform-react-jsx"
  ],
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
